<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="../assets/css/style01.css">
</head>
<body>
    <section class="fondo_globos"><div class="btn">
        <p>
            Mama feliz día, espero que la estés pasando super en este día y que no te emborraches tanto para que no te pegue tan duro el guayabo, siempre te querré mucho y te apoyaré, y nunca olvides que eres el amor de tu hijo jejeje, espero que nunca nos separemos y que podamos cumplir nuestras metas juntos.
 <br><br>P.D me debes 1.000.000 por la pagina y una ida a corea del sur en mi grado 😉😉
        </p>
    </section>

    <section id="principio">
    <div id="btn">
        <button type="button" id="iniciar"><img src="../assets/img/bombilla.png" alt="bombilla" class="bombilla"></button>
    </div>
    </section>

    <audio id="audio" src="../assets/music/tu_cumpleaños.mp3"></audio>
</body>
 <script src="../assets/js/script01.js"></script>
</html>