<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="../assets/css/style01.css">
</head>
<body>
    <section class="fondo_globos"><div class="btn">
    </section>

    <section id="principio">
    <div id="btn">
        <button type="button" id="iniciar"><img src="../assets/img/bombilla.png" alt="bombilla" class="bombilla"></button>
    </div>
    </section>

    <audio id="audio" src="../assets/music/tu_cumpleaños.mp3"></audio>
</body>
 <script src="../assets/js/script01.js"></script>
</html>